/*
==============================
REPLY
==============================
*/
.reply-container {
    display: none;
    margin-bottom: 4px;
}
.reply-container:nth-child(-n + 7) {
    display: block;
}
.show-replies .reply-container {
    display: block;
}
.show-replies .post-show-hide-replies.minus {
    display: inline;
}
.show-replies .post-show-hide-replies.plus {
    display: none;
}
.reply-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}
.reply {
    display: flex;
    flex-direction: column;
    background: #F0E0D6;
    font-size: 13px;
    padding: 6px 8px;
    border-bottom: 1px solid #D9BFB7;
    border-right: 1px solid #D9BFB7;
    max-width: calc(100% - 30px);
}
.reply.highlight-hover {
    background: #FF9E8A;
}
.reply.highlight {
    background: #FF9E8A;
}
.reply .post-image-metadata {
    margin: 2px 0 4px 0;
    font-size: 12px;
}
.reply-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}
.reply-body .post-image-container {
    flex-shrink: 0;
}
.reply-body .post-image {
    width: 125px;
    height: auto;
    margin: 0;
}
.reply-body .post-content {
    flex: 1 1 auto;
    min-width: 0;
}
.hide-reply .post-show-hide-icons {
    opacity: 0.5;
}
.hide-reply .post-image-metadata {
    display: none;
}
.hide-reply .reply-body {
    display: none;
}
.hide-reply .post-checkbox {
    display: none;
}
.hide-reply .post-subject,
.hide-reply .post-username,
.hide-reply .post-date,
.hide-reply .post-link-to,
.hide-reply .post-reply-to,
.hide-reply .post-thumbtack,
.hide-reply .post-lock,
.hide-reply .post-options-arrow {
    opacity: 0.5;
}
.hide-reply .post-options-menu li.unhide-post {
    display: list-item;
}
.hide-reply .post-options-menu li.hide-post {
    display: none;
}
.hide-reply .post-tag {
    display: none;
}
