/*
==============================
THREAD
==============================
*/
.thread {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 12px 12px;
    border-bottom: 1px solid #808080;
}
.thread-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 4px;
}
.spacer {
    clear: both;
}
.show-summary .post-summary-container {
    display: flex;
}
.sticky-thread .post-thumbtack.op {
    display: inline;
}
.lock-thread .post-lock.op {
    display: inline;
}
.hide-thread .post-show-hide-thread.minus {
    display: none;
}
.hide-thread .post-show-hide-thread.plus {
    display: inline;
}
.hide-thread .post-body {
    display: none;
}
.hide-thread .thread-container {
    display: none;
}
.hide-thread .post-file-header {
    opacity: 0.5;
}
.hide-thread .post-options-menu li.unhide-post.op {
    display: list-item;
}
.hide-thread .post-options-menu li.hide-post.op {
    display: none;
}
