/*
==============================
TOPICS NAV
==============================
*/
.topics-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    clear: both;
}
.topics-nav li {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding: 2px 4px 2px 0;
}
.topics-nav li span {
    cursor: pointer;
}
.topics-nav li span:hover {
    color: #E00;
}
.settings-link {
    margin-left: 6px;
}
.home-link {
    margin-left: auto;
}
.auth-nav-link {
    margin-left: 6px;
}
