{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="csrf-token" content="{{ .csrf_token }}" />
	<link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
	<title>Moarchan</title>
</head>
<body>
	<div data-base=""></div>
	<script type="module" src="/static/js/frame.js"></script>
	<script type="module" src="/static/js/controllers/main.js"></script>
	<script type="module" src="/static/js/controllers/service.js"></script>
	<script type="module" src="/static/js/controllers/auth.js"></script>
</body>
</html>
{{ end }}
