{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/screen.css" rel="stylesheet" type="text/css" />
        <title>Moarchan</title>
    </head>
    <body>
        <div data-base=""></div>
        <script type="module" src="/static/js/wsframe.js"></script>
        <script type="module" src="/static/js/controllers/main.js"></script>
        <script type="module" src="/static/js/controllers/service.js"></script>
    </body>
</html>
{{ end }}
