{{ define "boards-footer" }}
        <nav class="topics-nav">
            <li data-href="/a" title="/a">[ <span>a</span> /
            </li><li data-href="/b" title="/b"><span>b</span> /
            </li><li data-href="/c" title="/c"><span>c</span> /
            </li><li data-href="/d" title="/d"><span>d</span> /
            </li><li data-href="/e" title="/e"><span>e</span> /
            </li><li data-href="/f" title="/f"><span>f</span> /
            </li><li data-href="/g" title="/g"><span>g</span> /
            </li><li data-href="/gif" title="/gif"><span>gif</span> /
            </li><li data-href="/h" title="/h"><span>h</span> /
            </li><li data-href="/hr" title="/hr"><span>hr</span> /
            </li><li data-href="/k" title="/k"><span>k</span> /
            </li><li data-href="/m" title="/m"><span>m</span> /
            </li><li data-href="/o" title="/o"><span>o</span> /
            </li><li data-href="/p" title="/p"><span>p</span> /
            </li><li data-href="/r" title="/r"><span>r</span> /
            </li><li data-href="/s" title="/s"><span>s</span> /
            </li><li data-href="/t" title="/t"><span>t</span> /
            </li><li data-href="/u" title="/u"><span>u</span> /
            </li><li data-href="/v" title="/v"><span>v</span> /
            </li><li data-href="/vr" title="/vr"><span>vr</span> /
            </li><li data-href="/w" title="/w"><span>w</span> /
            </li><li data-href="/wg" title="/wg"><span>wg</span> /
            </li><li data-href="/i" title="/i"><span>i</span> /
            </li><li data-href="/ic" title="/ic"><span>ic</span> /
            </li><li data-href="/r9k" title="/r9k"><span>r9k</span> /
            </li><li data-href="/s4s" title="/s4s"><span>s4s</span> /
            </li><li data-href="/cm" title="/cm"><span>cm</span> /
            </li><li data-href="/hm" title="/hm"><span>hm</span> /
            </li><li data-href="/lgbt" title="/lgbt"><span>lgbt</span> /
            </li><li data-href="/y" title="/y"><span>y</span> /
            </li><li data-href="/3" title="/3"><span>3</span> /
            </li><li data-href="/adv" title="/adv"><span>adv</span> /
            </li><li data-href="/an" title="/an"><span>an</span> /
            </li><li data-href="/asp" title="/asp"><span>asp</span> /
            </li><li data-href="/biz" title="/biz"><span>biz</span> /
            </li><li data-href="/cgl" title="/cgl"><span>cgl</span> /
            </li><li data-href="/ck" title="/ck"><span>ck</span> /
            </li><li data-href="/co" title="/co"><span>co</span> /
            </li><li data-href="/diy" title="/diy"><span>diy</span> /
            </li><li data-href="/fa" title="/fa"><span>fa</span> /
            </li><li data-href="/fit" title="/fit"><span>fit</span> /
            </li><li data-href="/gd" title="/gd"><span>gd</span> /
            </li><li data-href="/hc" title="/hc"><span>hc</span> /
            </li><li data-href="/int" title="/int"><span>int</span> /
            </li><li data-href="/jp" title="/jp"><span>jp</span> /
            </li><li data-href="/lit" title="/lit"><span>lit</span> /
            </li><li data-href="/mlp" title="/mlp"><span>mlp</span> /
            </li><li data-href="/mu" title="/mu"><span>mu</span> /
            </li><li data-href="/n" title="/n"><span>n</span> /
            </li><li data-href="/out" title="/out"><span>out</span> /
            </li><li data-href="/po" title="/po"><span>po</span> /
            </li><li data-href="/pol" title="/pol"><span>pol</span> /
            </li><li data-href="/sci" title="/sci"><span>sci</span> /
            </li><li data-href="/soc" title="/soc"><span>soc</span> /
            </li><li data-href="/sp" title="/sp"><span>sp</span> /
            </li><li data-href="/tg" title="/tg"><span>tg</span> /
            </li><li data-href="/toy" title="/toy"><span>toy</span> /
            </li><li data-href="/trv" title="/trv"><span>trv</span> /
            </li><li data-href="/tv" title="/tv"><span>tv</span> /
            </li><li data-href="/vp" title="/vp"><span>vp</span> /
            </li><li data-href="/wsg" title="/wsg"><span>wsg</span> /
            </li><li data-href="/x" title="/x"><span>x</span> ]
            </li><li class="home-link" data-href="/" title="Home">[ <span>Home</span> ]
            </li><li class="settings-link">[ <span>Settings</span> ]</li>
        </nav>
    </div>
    <p class="copyright-notice">All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</p>
{{ end }}
