{{ define "reply-item" }}
<div class="reply-container">
    <div class="reply-wrapper">
        <span class="post-side-arrows">&gt;&gt;</span>
        <div id="post-{{ .hash }}" class="reply">
            <div class="post-header">
                <input class="post-checkbox" type="checkbox" />
                <span class="post-username">{{ .name }}</span>
                <span class="post-date">{{ .timestamp }}</span>
                <span class="post-link-to red-text-link" title="Link to this post">No.</span>
                <span class="post-reply-to red-text-link" title="Reply to this post" data-thread="{{ .thread }}">{{ .hash }}</span>
                <div class="post-options" title="Post menu">
                    <span class="post-options-arrow" data-post="{{ .hash }}"></span>
                    <ul id="post-menu-{{ .hash }}" class="post-options-menu hide">
                        <li class="report-post" data-post="{{ .hash }}">Report Post</li>
                        <li class="hide-post" data-post="{{ .hash }}">Hide Post</li>
                        <li class="unhide-post" data-post="{{ .hash }}">Unhide Post</li>
                        {{ if .file_name }}
                        <li class="image-search" data-post="{{ .hash }}">Image Search &gt;&gt;</li>
                        {{ end }}
                    </ul>
                </div>
                {{ range .taggedBy }}
                <span class="post-tag blue-text-link" data-tag="{{ . }}">&gt;&gt;{{ . }}</span>
                {{ end }}
            </div>
            {{ if .file_name }}
            <div class="post-image-metadata">
                File: <a class="post-image-link blue-text-link" href="/static/images/uploads/{{ .file_name }}" alt="{{ .file_name }}" title="{{ .file_name }}" target="_blank">{{ .file_name }}</a>
                <span class="post-image-dimensions">({{ .file_size }} KB, {{ .file_dimensions }})</span>
            </div>
            <a class="post-image-container" href="/static/images/uploads/{{ .file_name }}" target="_blank">
                <img class="post-image" src="/static/images/uploads/thumb_{{ .file_name }}" title="{{ .file_name }}" alt="{{ .file_name }}" />
            </a>
            {{ end }}
            <p class="post-content">{{ .comment | unescaped }}</p>
        </div>
    </div>
</div>
{{ end }}

{{ define "thread-item" }}
<div id="post-{{ .hash }}" class="thread">
    <div class="post-show-hide-icons op">
        <img class="post-show-hide-thread plus op" data-post="{{ .hash }}" src="/static/images/show-hide-thread-plus-red.png" alt="Plus" title="Plus" />
        <img class="post-show-hide-thread minus op" data-post="{{ .hash }}" src="/static/images/show-hide-thread-minus-red.png" alt="Minus" title="Minus" />
    </div>
    <div class="post-image-metadata op">
        File: <a class="post-image-link blue-text-link op" href="/static/images/uploads/{{ .file_name }}" alt="{{ .file_name }}" title="{{ .file_name }}" target="_blank">{{ .file_name }}</a>
        <span class="post-image-dimensions op">({{ .file_size }} KB, {{ .file_dimensions }})</span>
    </div>
    <a class="post-image-container op" href="/static/images/uploads/{{ .file_name }}" target="_blank">
        <img class="post-image op" src="/static/images/uploads/thumb_{{ .file_name }}" alt="{{ .file_name }}" title="{{ .file_name }}" />
    </a>
    <div class="post-header op">
        <input class="post-checkbox op" type="checkbox" />
        <span class="post-subject op">{{ .subject }}</span>
        <span class="post-username op">{{ .name }}</span>
        <span class="post-date op">{{ .timestamp }}</span>
        <span class="post-link-to red-text-link op" title="Link to this post" data-href="/{{ .topic }}/thread/{{ .hash }}">No.</span>
        <span class="post-reply-to red-text-link op" title="Reply to this post" data-thread="{{ .hash }}">{{ .hash }}</span>
        <img class="post-thumbtack op" src="/static/images/thumbtack.gif" alt="Sticky" title="Sticky" />
        <img class="post-lock op" src="/static/images/lock.gif" alt="Closed" title="Closed" />
        <span class="post-reply-to-text op">[<span class="blue-text-link" data-href="/{{ .topic }}/thread/{{ .hash }}">Reply</span>]</span>
        <div class="post-options op" title="Post menu">
            <span class="post-options-arrow op" data-post="{{ .hash }}"></span>
            <ul id="post-menu-{{ .hash }}" class="post-options-menu hide op">
                <li class="report-post op" data-post="{{ .hash }}">Report Thread</li>
                <li class="hide-post op" data-post="{{ .hash }}">Hide Thread</li>
                <li class="unhide-post op" data-post="{{ .hash }}">Unhide Thread</li>
                <li class="image-search op" data-post="{{ .hash }}">Image Search &gt;&gt;</li>
            </ul>
        </div>
        {{ range .taggedBy }}
        <span class="post-tag blue-text-link op" data-tag="{{ . }}">&gt;&gt;{{ . }}</span>
        {{ end }}
    </div>
    <div class="thread-container">
        <p class="post-content op">{{ .comment | unescaped }}</p>
        <div class="post-summary-container">
            <div class="post-show-hide-icons replies">
                <img class="post-show-hide-replies plus" data-post="{{ .hash }}" src="/static/images/show-hide-thread-plus-red.png" alt="Plus" title="Plus" />
                <img class="post-show-hide-replies minus" data-post="{{ .hash }}" src="/static/images/show-hide-thread-minus-red.png" alt="Minus" title="Minus" />
            </div>
            <p class="post-summary">0 posts omitted. <span class="blue-text-link" data-href="/{{ .topic }}/thread/{{ .hash }}">Click here</span> to view.</p>
        </div>
        {{ range .replies }}
            {{ template "reply-item" . }}
        {{ end }}
    </div>
    <div class="spacer"></div>
</div>
{{ end }}
